<div>
  <div class="container-fluid p-0">
    <nav class="navbar bg-inter navbar-light">
      <h1 class="col-4">Interneg</h1>
      <ul class="nav col-8 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"
            ><i class="fa fa-home fa-2x text-dark"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"
            ><i class="fa fa-user fa-2x text-dark"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</div>



  <router-outlet></router-outlet>

